body {
    background-color: #f5d100;
    font-family: 'Skribblugh', sans-serif;
    color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
}

.container {
    max-width: 90%;
}

.logo {
    width: 210px;
    height: auto;
    margin-bottom: -120px;
}

.container p {
    font-size: 48px;
}

@media (max-width: 768px) {
    body {
        padding: 20px;
    }
    
    .container p {
        font-size: 18px;
    }
    
    .logo {
        width: 120px;
    }
}
