@font-face {
    font-family: 'Skribblugh';
    src: url('skri.ttf') format('truetype');
}

body {
    background-color: #ffb200;
    font-family: 'Skribblugh', sans-serif;
    color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
}

.container {
    max-width: 90%;
}

.logo {
    width: 210px;
    height: auto;
    margin-bottom: -120px;
}

.container p {
    font-size: 48px;
}

@media (max-width: 768px) {
    body {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: hidden;
    }
    
    .container {
        max-width: 100%;
    }
    
    .container p {
        font-size: 36px;
        color: black;
    }
    
    .logo {
        width: 180px;
    }
}
